<!DOCTYPE html>
<html>
<head>
  <title>Warehouse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<%= link_to 'Cadastro', '/products' %>
<%= link_to 'Entrada', '/items/entrada' %>

=======
>>>>>>> d5fc010fe55c4d6d0407d92f613f0420d127255e
<%= yield %>

</body>
</html>
